/*
	CSSS theme
	@author Lea Verou
	@version 1.0
*/
@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie);

@font-face {
	font-family: Beteckna;
	src: url(Beteckna.otf);
}

/**
 * Variables
 */
header.slide > h1,
header.slide > hgroup,
.slide h2,
section > header.slide > h1 {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 100;
}
 
/**
 * Styles
 */
* {
	padding:0;	
	margin:0;
	font:inherit;
	color:inherit;
}
html {
	background: white;
	background-size: cover;
}
body {
	font-family: Beteckna, sans-serif;
	font-family: sans-serif;
	background: white;
}
button {
	padding:.2em .5em;
}
a:hover {
	text-shadow: 0 0 .5em white, 0 0 1em white;
}
select {
	color: black;
}
code, pre, style, textarea, input {
	font-family: Consolas, 'Andale Mono', 'Courier New', monospace;
	line-height: 1.2em;	
	/*background: rgba(0, 0, 64, .1);*/
}
code, pre, style, textarea {
	padding:.3em .5em;
	margin-left: -.1em;
	/*border-radius: 0.5em;
	box-shadow:.025em .025em .2em black inset;*/
}
textarea.snippet,
textarea.selector-snippet {
	border-radius: 0;
	box-shadow: none;
	text-shadow: none;
}
pre > code {
	padding: 0;
	white-space: pre;
	border: 0;
	background: 0;
	box-shadow: none;
}
textarea {
	width: 100%;
	box-sizing: border-box;
}
em {
	font-style: italic;
}
strong, b {
	font-weight:bold;
}
pre strong {
	text-shadow: 0 0 .6em white;
}
small {
	font-size: 75%;
}
/* Progress */
#indicator {
	background: rgba(255, 255, 255, .6);
	color: black;
	text-shadow: .03em .03em .1em white;
}
/* Slide */
.slide {
	margin: 1em;
	padding:0 0.25em 0.1em;
	background: white;
	background-clip: padding-box;
	text-shadow:.05em .05em .1em rgba(0,0,0,.25);
	color: #333;
}
.slide h1 {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 100;
	font-size: 2em;
	text-shadow:.05em .05em .1em rgba(64,0,0,.5);
}
.slide h2 {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 100;
	font-size: 1.2em;
}
.slide p,
.slide li {
	font-weight: bold;
	letter-spacing: -.03em;
}
.slide li code {
	font-weight: normal;
	letter-spacing: 0em;
}	
.slide > ul {
	list-style:none;	
}
.slide ol {
	margin-left:2em;	
}
.slide li li {
	font-size:80%;
    list-style: none;
    margin-left: 2em;
}	
.slide li {
	margin:.2em 0;
}
.slide > ul > li:before {
	content:'-';
	color: #333;
	padding-right: .2em;
}
.slide li li:before {
	content: '-';
	color: #333;
	padding-right: .2em;
}
.slide footer {
    position: absolute;
    bottom: 0px;
	font-size: 0.65em;
}	
section > header.slide {
	background-color: white;
	/*text-shadow: */
}
section > header.slide > hgroup,
section > header.slide > h1 {
	position: absolute;
	left: 0;
	right: 0;
	margin-top: -.6em;
	font-size: 400%;
	line-height: 1;
	text-align: center;
}
section > header.slide > hgroup {
	top: 40%;
}
section > header.slide > h1 {
	top: 50%;
}
.slide > hgroup > h1 + h2 {
	margin-top: -.5em;
	margin-bottom: 0.6em;
	font: 130% 'Reenie Beanie';
}
.slide.exercises > hgroup > h1 + h2 {
	font-family: Consolas, 'Andale Mono', 'Courier New', monospace;
}
section  > header.slide > hgroup > h1 + h2 {
	margin-top: 0;
	font-size: 100%;
}
/* Emphasis */
.slide .emphasis {
	padding: .4em .5em .3em;
	margin: .3em 0;
	background: #f80;
	background: linear-gradient(#fa0, #f80);
	color: white;
	font-weight: bold;
	letter-spacing: -.05em;
	line-height: .85;
	text-shadow: .05em .05em .1em rgba(0,0,0,.4);
	border-radius: .3em;
	box-shadow:.1em .1em .5em black;
}
.light.slide .emphasis {
	box-shadow:.1em .1em .5em rgba(0,0,0,.4);
}
.slide .emphasis::before {
	content: '\279C';
	color: rgba(255,255,255,.5);
	float: left;	
	width: .75em;
	height: 0;
	padding: .45em 0 .3em;
	margin: -.2em .2em 0 -.25em;
	border: .12em solid;
	text-align: center;
	line-height: 0;
	font-size: 120%;
	font-family: inherit;
	text-shadow: none;
	border-radius:999px;
	transform: rotate(45deg);
}
/* Attribution */
.attribution {
	background: rgba(0,0,0,.8);
	color: white;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 1em;
	padding: .5em 1em;
	font-size: 30%;
	text-shadow: .05em .05em .1em black;
}
.attribution a {
	text-decoration: none;
}
.attribution a::after {
	content:  ' (' attr(href) ')';
}
/* Syntax highlighting */
.comment {
	color: #999;
}
.string {
	color: yellow;
}
.keyword {
	font-weight: bold;
	color: deeppink;
}
.number, .boolean {
	color: #0cf;
}
.regex {
	color: orange;
}

/* iframe */
.iframe.slide {
	text-align: center;
} 
.iframe.slide > h1 {
	position: absolute;
	bottom: 0; right: 0; left: 0;
	background: rgba(0,0,0,.5);
	font-size: 60%;
}
.iframe.slide > h1 > a {
	display: inline-block;
	padding: .2em .5em;
	color: white;
	text-align: center;
	text-shadow: .05em .05em .1em black;
}
iframe {
	display: none;
	position: absolute;
	border: 0;
	width: 100%;
	height: 100%;
	margin: 0 -1em;
}

:target iframe {
	display: block;
}
/* Demo */
.demo {
	padding: 0 30% 0 0;
}
.demo > ul {
	position: absolute;
	right: 30px;
	width: 28%;
	list-style: none;
	font-size: 80%;
	line-height: 1.2;
}
.demo > ul > li {
	margin:.5em;
}
.demo > ul > li:before {
	content: '';
}
.demo > ul > li:first-child {
	margin-top: 0;
}
.demo > ul > li:last-child {
	margin-bottom: 0;
}
.demo > textarea {
	margin: auto;
	resize: both;
	overflow: hidden;
	max-width: 98%;
	text-shadow: .05em .05em .1em rgba(0,0,0,.3);
	height: 95%;
}
.demo > textarea.selector-snippet {
	height: 20%;
}
/* Browser support tables */
.slide[data-type="browser support"] {
	text-align: center;
}
.slide[data-type="browser support"] > h1 {
	margin-bottom: .3em;
	font-size: 200%;
}
	
table {
	width: 700px;
	border-spacing: 0 .3em;	
	margin: auto;
}

table.prefix,
table.noprefix {
	width: 500px;
}
td {
	width: 50%;
	padding: .6em 0;
}
thead td {
	padding: 0;
	font-size: 80%;
	line-height: .4;
	text-shadow: none;
}
thead td:first-child,
table.prefix > thead td {
	color: rgba(255, 255, 255, .4);
}
thead td:nth-child(2),
table.noprefix > thead td {
	color: rgba(255, 255, 255, .7);
}
tbody td {
	background: no-repeat;
	background-size: 200px;
	color: slategray;
	text-shadow: 0 1px white;
	font-size: 110%;
}
td:first-child,
table.prefix td {
	padding-left: .8em;
	background-position: 250px 50%;
	text-align: left;	
}
td:nth-child(2),
table.noprefix td {
	padding-right: .8em;
	background-position: -100px 50%;
	text-align: right;
}
tbody td:first-child,
table.prefix > tbody td {	
	border-right: 2px dashed white;
	background-color: rgba(255, 255, 255, .4);
	border-radius: .5em 0 0 .5em;
}
tbody td:nth-child(2),
table.noprefix > tbody td {
	border-left: 2px dashed slategray;
	background-color: rgba(255, 255, 255, .7);
	border-radius: 0 .5em .5em 0;
}
table tbody td:only-child {
	border: 0;
	border-radius: .5em;
}
tr[title="Firefox"] > td {
	background-image: url('img/gecko.svg');
}
tr[title="Opera"] > td {
	background-image: url('img/presto.svg');
}
tr[title="IE"] > td {
	background-image: url('img/trident.svg');
}
tr[title="Webkit"] > td {
	background-image: url('img/webkit.svg');
}
td .note {
	font-size: 50%;
	line-height: 1.4;
}
table + p {
	font-size: 50%;
}