#cover {
	
}

	#cover > hgroup {
		margin-top: -2.5em;
		font-size: 200%;	
		text-shadow: none;
	}
	
	#cover h1 {
		font-size: 300%;
		
	}
		
		#cover h1:before,
		#cover h1:after {
			opacity: .4;
			vertical-align: .05em;
		}
		
		#cover h1:before {
			content: '{';
		}
		
		#cover h1:after {
			content: '}';
		}
		
	#cover h2,
	#cover .attribution {
		font-family: 'Reenie Beanie';
	}
	
	#cover h2 {
		margin-top: 0;
	}
	
	#cover > .attribution {
		font-size: 80%;
		margin-top: .5em;
		color: slategray;
	}

	.sticker {
		top: 40px;
		right: 40px;
		width: 4.5em;
		height: 4.5em;
		padding: .5em .25em 0;
		
		color: white;
		font-family: 'Reenie Beanie';
		font-size: 80%;
		line-height: .8;
		text-align: center;
		text-shadow: .1em .1em .2em rgba(0,0,0,.4);
		
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	.sticker,
	.sticker:before,
	.sticker:after {
		position: absolute;
		background: slategray;
	}
	
	.sticker:before,
	.sticker:after {
		content: '';
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		z-index: -1;
	}
	
	.sticker:before {
		-moz-transform: rotate(30deg);
		-ms-transform: rotate(30deg);
		-o-transform: rotate(30deg);
		-webkit-transform: rotate(30deg);
		transform: rotate(30deg);
	}
	
	.sticker:after {
		-moz-transform: rotate(60deg);
		-ms-transform: rotate(60deg);
		-o-transform: rotate(60deg);
		-webkit-transform: rotate(60deg);
		transform: rotate(60deg);
	}
	
	.sticker > strong {
		font-size: 300%;
		line-height: .5;
	}

textarea {
	font-family: Consolas, monospace;
	padding: 1em 1.2em;
}

textarea[data-raw] {
	font-size: 80%;
}

.iframe.slide {
	text-align: center;
} 

	.iframe.slide > h1 {
		position: absolute;
		bottom: 0; right: 0; left: 0;
		background: rgba(0,0,0,.5);
		font-size: 60%;
	}
	
		.iframe.slide > h1 > a {
			display: inline-block;
			padding: .2em .5em;
			
			color: white;
			text-align: center;
			
			text-shadow: .05em .05em .1em black;
		}
	
	iframe {
		display: none;
		position: absolute;
		border: 0;
		width: 100%;
		height: 100%;
		margin: 0 -1em;
	}
	
	:target iframe {
		display: block;
	}

.examples-list {
	padding: 30px 30% 30px 30px;
}

.examples-list > ul {
	position: absolute;
	right: 30px;
	width: 28%;
	list-style: none;
	font-size: 80%;
	line-height: 1.2;
}

	.examples-list > ul > li {
		margin:.5em;
	}
	
	.examples-list > ul > li:first-child {
		margin-top: 0;
	}
	
	.examples-list > ul > li:last-child {
		margin-bottom: 0;
	}
	
	.examples-list > textarea {
		height: 100%;
		border: 0;
		outline: none;
	}

.slide .selector-snippet {
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: .5em;
	font-family: Consolas, Monaco, monospace;
}

.demo-box {
	margin: auto;
	resize: both;
	overflow: hidden;
	max-width: 98%;
	background: slategray;
	color: white;
	text-shadow: .05em .05em .1em rgba(0,0,0,.3);
}

.slide[data-type="challenge"] {
	background-color:white;
	background-image: -moz-linear-gradient(#ddd 1px, transparent 1px),
	  -moz-linear-gradient(0, #ddd 1px, transparent 1px),
	  -moz-linear-gradient(#eee 1px, transparent 1px),
	  -moz-linear-gradient(0, #eee 1px, transparent 1px);
	background-image: -webkit-linear-gradient(#ddd 1px, transparent 1px),
	  -webkit-linear-gradient(0, #ddd 1px, transparent 1px),
	  -webkit-linear-gradient(#eee 1px, transparent 1px),
	  -webkit-linear-gradient(0, #eee 1px, transparent 1px);
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-1px -1px
}
	
	.slide[data-type="challenge"] > .hint {
		max-width: 800px;
		padding-bottom: .5em;
		margin: 10px 200px 0 150px;
		overflow: hidden;
		font-size: 35%;
		color: gray;
		line-height: 1.25;
	}
		
		.slide[data-type="challenge"] > .hint:before {
			content: 'Hint';
			float: left;
			padding: .4em .6em .35em;
			margin-right: .4em;
			color: white;
			font-size: 130%;
			font-weight: 900;
			background: slategray;
			border-radius: 5px;
		}
		
		.slide[data-type="challenge"] > .hint > code {
			color: black;
			font-weight: bold;
		}
	
	
	.slide[data-type="challenge"] > section {
		position: absolute;
		top: 60px;
		bottom: 0;
		width: 50%;
	}
	
	.slide[data-type="challenge"] > section:first-of-type {
		left: 0;
	}
	
	.slide[data-type="challenge"] > section:nth-of-type(2) {
		right: 0;
	}
	
		.slide[data-type="challenge"] > section > h1 {
			margin-top: .2em;
			font-weight: bold;
			color: #aaa;
			text-align: center;
		}
		
		.slide[data-type="challenge"] > section > .demo-box {
			width: 300px;
			height: 200px;
			font-size: 20px;
		}
		
	.slide[data-type="challenge"] > textarea {
		position: absolute;
		bottom: 0;
		left: 0;
		border: 1px solid rgba(0,0,0,.5);
		border-width: 1px 0 0;
		background: rgba(255,255,255,.5);
		outline: none;
	}
	
	.slide[data-type="challenge"] > textarea:not(.my).code {
		display: none;
	}
	
	.slide[data-type="challenge"].success > textarea,
	.slide[data-type="challenge"].success > .status {
		color: #8b2;
	}
	
	.slide[data-type="challenge"].success > textarea {
		border-color: currentColor;
		background: hsla(80, 100%, 40%, .2);
	}
	
	.slide[data-type="challenge"] > .status,
	.slide[data-type="challenge"] > button.solve {
		position: absolute;
		left: 10px;
		font-size: 40%;
	}
	
	.slide[data-type="challenge"] > button.solve {
		top: 10px;
		padding: .3em 2em;
		border: 1px solid rgba(0,0,0,.3);
		background: #8b2;
		background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0) 80%);
		background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0) 80%);
		background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0) 80%);
		background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0) 80%);
		background-origin: border-box;
		color: white;
		text-shadow: .1em .1em .1em rgba(0,0,0,.4);
		border-radius: 5px;
		box-shadow: 0 1px rgba(255,255,255,.5) inset, 0 .1em .2em -.1em black;
	}
	
	.slide[data-type="challenge"] > button.solve:hover {
		background-color: #ad3;
	}
	
	.slide[data-type="challenge"] > button.solve:active:not(:disabled) {
		box-shadow: 0 1px 7px -2px black inset;
	}
	
	.slide[data-type="challenge"] > button.solve:disabled {
		background-color: #bbb;
	}
	
	.slide[data-type="challenge"] > .status {
		top: 55px;
		max-width: 170px;
	}
	
	.slide[data-type="challenge"].fail > .status {
		color: #c00;	
	}

[class="slide"]:not(header):not([data-type="challenge"]) {
	background: slategray;
	color: white;
	padding: 0 2em;
	text-shadow: .05em .05em .1em rgba(0,0,0,.4);
}

	[class="slide"]:not(header):not([data-type]) a:not(:hover) {
		color: white;
	}

	[class="slide"]:not(header):not([data-type]) > ul {
		list-style: none;
	}
	
	[class="slide"]:not(header):not([data-type]) > ul > li:before {
		content: '✿ ';
		float: left;
		margin-right: .1em;
		opacity: .5;
		font-family: sans-serif;
	}
	
/* Browser support tables */
.slide[data-type="browser support"] {
	text-align: center;
}

	.slide[data-type="browser support"] > h1 {
		margin-bottom: .3em;
		font-size: 200%;
	}
	
	table {
		width: 700px;
		border-spacing: 0 .3em;	
		margin: auto;
	}
	
	table.prefix,
	table.noprefix {
		width: 500px;
	}
	
		td {
			width: 50%;
			padding: .6em 0;
		}
		
		thead td {
			padding: 0;
			font-size: 80%;
			line-height: .4;
			text-shadow: none;
		}
		
		thead td:first-child,
		table.prefix > thead td {
			color: rgba(255, 255, 255, .4);
		}
		
		thead td:nth-child(2),
		table.noprefix > thead td {
			color: rgba(255, 255, 255, .7);
		}
		
		tbody td {
			background: no-repeat;
			background-size: 200px;
			color: slategray;
			text-shadow: 0 1px white;
			font-size: 110%;
		}
		
		td:first-child,
		table.prefix td {
			padding-left: .8em;
			background-position: 250px 50%;
			text-align: left;	
		}
		
		td:nth-child(2),
		table.noprefix td {
			padding-right: .8em;
			background-position: -100px 50%;
			text-align: right;
		}
		
		tbody td:first-child,
		table.prefix > tbody td {	
			border-right: 2px dashed white;
			background-color: rgba(255, 255, 255, .4);
			border-radius: .5em 0 0 .5em;
		}
		
		tbody td:nth-child(2),
		table.noprefix > tbody td {
			border-left: 2px dashed slategray;
			background-color: rgba(255, 255, 255, .7);
			border-radius: 0 .5em .5em 0;
		}
		
		table tbody td:only-child {
			border: 0;
			border-radius: .5em;
		}
		
		tr[title="Firefox"] > td {
			background-image: url('img/gecko.svg');
		}
		
		tr[title="Opera"] > td {
			background-image: url('img/presto.svg');
		}
		
		tr[title="IE"] > td {
			background-image: url('img/trident.svg');
		}
		
		tr[title="Webkit"] > td {
			background-image: url('img/webkit.svg');
		}
		
		td .note {
			font-size: 50%;
			line-height: 1.4;
		}
		
	table + p {
		font-size: 50%;
	}
	
#empty > code {
	float: left;
	padding: .1em .4em;
	border: .1em solid rgba(255,255,255,.5);
	margin: .2em;
	font-weight: bold;
	font-size: 140%;
	white-space: nowrap;
	border-radius: .3em;
}

#empty > code:before,
#empty > code:after {
	font-weight: normal;	
}

#empty > code:before {
	content: '<p>';
}

#empty > code:after {
	content: '</p>';
}

#empty > code.pass {
	background: #809070;
}

#empty > code.fail {
	background: #907060;
}