*, *:before, *:after {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    background: #ccc;
    background: linear-gradient(#ccc, #eee, #ccc);
    background-attachment: fixed;
}
body {
    font-family: "Open Sans",Helvetica,"Lucida Grande", Arial,sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.4em;
}
div.centered{
    padding: 0.4em;
}
div.slideCount{
    background-color: GreenYellow ;
    color: #333;
    padding: 0.4em;
}
td{
    vertical-align: top;
    padding-top: 1em;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0.2em 0;
    clear:both;
}
h1{
    padding: 0.2em 0;
    margin-bottom: 0.4em;
}
h6{ /* subtitle */
    background-color:GreenYellow;
    font-size: 1em;
    display: inline-block;
    margin-bottom: 0.4em;
}
h5{ /* subsubtitle */
    background-color:GreenYellow;
    font-size: 0.6em;
    display: inline-block;
    /* position:fixed; */
    /* bottom: 1%; */
    padding: 0 1em; 
    margin-bottom: 0.6em;
} 
p {
    margin: 0 0 1em 0;
    text-align: left;
}
a:link,a:visited { 
    color:DarkGoldenrod;
}
a:hover{
    background-color: GreenYellow ;
    color: #333;
}
code {
    display: block;
    margin: .5em 0;
    padding: .2em;
    background: #666;
    color: #fff;
    line-height: 1.4em;
    word-wrap:break-word;
}
ul, ol {
    margin: 0;
    margin-left: 1em;
    text-align: left; 
    line-height: 1.2em;
}
ul {
    list-style: square;
}
li {
    margin: .4em 0;
}
img {
    /*width: 100%;*/
    display: block;
    margin: 0 auto;
}
blockquote {
    font-family: Garamond;
    font-style: italic;
    line-height: 1.1em
}
.print .content-holder {
    font-size: 12px;
    font-family: Garamond;
}

@media all and (max-width: 420px) {
    html{
        background-position: -40px -160px;
    }
    body {
        font-weight: normal;
        /*font-size: 1.4em;*/
        /*line-height: 1.4em;*/
    }
    div.centered{
        padding: 0.1em;
        margin: 0.2em;
    }
}
