*, *:before, *:after {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    background: url("assets/deathToThePixel.jpg")50% -160px no-repeat;
    background-color:#fff;
    background-attachment: fixed;
}
body {
    font-family: "Open Sans",Helvetica,"Lucida Grande", Arial,sans-serif;
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
}
div.centered{
    /*background-color:#efefef;*/
    background-color:rgba(255, 255, 255,.97);
    padding: 0.4em;
}


td{
    vertical-align: top;
    padding-top: 2em;
}


/* Navigator */
.slideCount{
    
}

.slideCount{
    padding: 0.4em;
    position:fixed;
    bottom:.5em;
    right:.5em;
    overflow:hidden
}
.slideCount button, .slideCount select{
    background-color: Goldenrod;
    padding: 0.2em;
    border-radius: 0;
    color:#333;
    border:0;
    font-size:.8em;    
    -webkit-appearance:none;
    -moz-appearance:none;
     appearance:none;
}
.slideCount button:hover, .slideCount button:hover{
    color: black;
    background-color: DarkGoldenrod;
}
.slideCount button:active, .slideCount select:active{
    background-color:DarkGoldenrod;
    transform: translateY(0.15em);
}
.slideCount button:first-of-type{
    padding-left: 0.6em;
    border-radius: 0.4em 0 0 0.4em;
}
.slideCount button:last-of-type{
    padding-right: 0.6em;
    border-radius: 0 0.4em 0.4em 0;

}


h1, h2, h3, h4, h5, h6 {
    margin: 0.2em 0;
    clear:both;
}
h1{
    padding: 0.2em 0;
    margin-bottom: 0.4em;
}
h6{ /* subtitle */
    background-color:gold;
    font-size: 1em;
    display: inline-block;
    margin-bottom: 0.4em;
}
h5{ /* subsubtitle */
    background-color:gold;
    font-size: 0.6em;
    display: inline-block;
    /* position:fixed; */
    /* bottom: 1%; */
    padding: 0 1em; 
    margin-bottom: 0.6em;
} 
p {
    margin: 0 0 1em 0;
    text-align: left;
}
a:link,a:visited { 
    color:DarkGoldenrod;
}
a:hover{
    background-color: Goldenrod ;
    color: #333;
}
code {
    display: block;
    margin: .5em 0;
    padding: .2em;
    background: #666;
    color: #fff;
    line-height: 1.4em;
    word-wrap:break-word;
}
ul, ol {
    margin: 0;
    margin-left: 1em;
    text-align: left; 
    line-height: 1.2em;
}
ul {
    list-style: square;
}
li {
    margin: .4em 0;
}
img {
    /*width: 100%;*/
    display: block;
    margin: 0 auto;
}
blockquote {
    font-family: Garamond;
    font-style: italic;
    line-height: 1.1em
}

.print .content-holder {
    font-size: 12px;
    font-family: Garamond;
}

@media all and (max-width: 420px) {
    html{
        background-position: -40px -160px;
    }
    body {
        /*font-size: 1.4em;*/
    }
    div.centered{
        padding: 0.1em;
        margin: 0.2em;
    }
    td{
        padding-top: 0.4em;
    }
}
